html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  animation: fadeInUp 0.8s ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  behavior: inherit;
}

:root {
  --text-light: #ffffff; /* texto principal claro */
  --text-muted: #cccccc; /* texto secundário/descritivo */
  --text-highlight: #e5d9ff; /* pequenos detalhes ou elementos suaves */
  --button-color: #9e4dff;
  --button-text-color: #ffffff;

  --background-first-session: linear-gradient(145deg, #ffffff 90%, #0e0b2b 5%);
  --background-second-session: linear-gradient(to bottom, #0e0b2b, #0f1a42);

  --background-header: #0e0b2b;
  --color-letteres: #0f1a42;

  --collor-ffff: #ffffff;
}

.forgotPasswordForm {
  display: flex;
  position: fixed;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100%;
  background-color: #ebebed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: backdrop-filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Garantir que a transição seja aplicada apenas no formulário, não no fundo */
.form-transition {
  opacity: 0;
  pointer-events: none;
}

#resend-timer-message {
  font-size: 1rem;
  color: #222;
}

.hidden {
  display: none;
}

.space-of-forgot-password-form {
  /* box-shadow: 2px 2px 5px whitesmoke, -2px -2px 5px whitesmoke; */
  background: var(--collor-ffff);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.name-of-enterprise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-of-forgot-password-form .name-of-enterprise h1 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
}

.space-of-forgot-password-form .name-of-enterprise h2 {
  font-size: 1.7rem;
}

.space-of-forgot-password-form h2 {
  font-size: 3rem;
  color: #111;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.space-of-forgot-password-form label {
  display: block;
}

#forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.input-icon {
  position: relative;
}

#forgot-password-form .input-group i {
  position: absolute;
  top: 27%;
  left: 1rem;
  font-size: 1.5rem;
}

#forgot-password-form .input-group input {
  width: 20rem;
  padding: 1.3rem 3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: 1px solid #dddddd;
  outline: none;
  transition: 0.5s all ease-in-out;
}

#forgot-password-form .input-group input:hover {
  border: 1px solid #111;
}

#forgot-message {
  font-size: 1.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: #155724;
}

#forgot-password-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 3rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  background: var(--background-header);
  color: var(--text-light);
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

#forgot-password-form button:hover {
  background: #423b81;
}

.space-of-forgot-password-form p,
a {
  transition: 0.5s all ease-in-out;
  font-size: 0.9rem;
}

.a-forgot-password:hover {
  color: #423b81;
}

.a-for-logincall {
  color: #423b81;
  cursor: pointer;
}

.a-for-logincall:hover {
  color: var(--background-header);
}

/* Estilo base para a mensagem */
#formMessageLogin {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para a mensagem de sucesso */
#formMessageLogin.success {
  color: #155724;
}

/* Estilo para a mensagem de erro */
#formMessageLogin.error {
  color: #721c24;
}



