body {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {

    --background-first-session: linear-gradient(145deg, #ffffff 90%, #0e0b2b 5%);
    --background-second-session: linear-gradient(-45deg, #ffffff 90%, #0f1a42 5%);

    --background-header: #0e0b2b;
    --color-letteres: #0f1a42;

    -collor-ffff: #ffffff
    
}

.header {
    width: 100%;
    height: 7rem;
    background: #0e0b2b;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    /* background: #2d1c3a; */
}

.first-content-and-header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg, #ffffff 90%, #0e0b2b 5%);
    height: 100dvh;
}

.side-of-logo-and-site-name {
    display: flex;
    max-height: 100%;
    
}

.organization-of-logo-and-site-name {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;

}

.organization-of-logo-and-site-name  img {
    width: 15rem;
    height: auto;
    max-height: 100%;
    object-fit: contain; /* A imagem vai se ajustar sem distorção */
}

.getting-space-for-ul {
    align-self: center;
}

.getting-space-for-ul {
  padding: 2rem 4rem;
}

.organization-of-lis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.organization-of-lis li a {
  font-size: 1.45rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
  letter-spacing: 0.05rem;
  position: relative;
}

.organization-of-lis li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -4px;
  left: 50%;
  background-color: #ffffff;
  transition: 0.3s ease;
  transform: translateX(-50%);
}

.organization-of-lis li a:hover {
  letter-spacing: 0.08rem;
}

.organization-of-lis li a:hover::after {
  width: 100%;
}

.principal-message-and-representative-video {
    margin: 0 auto;
    width: 85%;
    margin-top: 4rem;
    max-height: 100%;
    display: flex;
    border: 1px solid #0e0b2b;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #0e0b2b;
}

.principal-message-and-representative-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 10%;
}

.main-content-in-first-section {
    max-width: 50%;
}

.main-content-in-first-section h2 {
    font-size: 5.5rem;
    letter-spacing: 0.1rem;
    color: #0f1a42;
    margin-bottom: 2rem;
    font-weight: bold;
    line-height: 1.2;
    cursor: pointer;
}

.main-content-in-first-section p {
    font-size: 1.8rem;
    color: #0f1a42 ;
    letter-spacing: 0.05rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    cursor: pointer;
    font-weight: 500;
}

.main-button {
    background: linear-gradient(to bottom, #0e0b2b, #0f1a42);
    padding: 1.5rem 4rem;
    border-radius: 12px;
    color: var(--button-text-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    transition: background 1s ease-in-out;
    display: inline-block;
}

.main-button:hover {
    background: linear-gradient(to bottom, #0f1a42, #0f1a42);
    transform: scale(1.05);
}

.side-of-video {
    background: #0f1a42;
    width: 45%;
    height: 30rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px rgba(138, 43, 226, 0.4);
    animation: shadowPulse 5s infinite;
}


@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 25px rgba(138, 43, 226, 0.4);
    }
    25% {
        box-shadow: 0px 0px 30px rgba(145, 68, 217, 0.4);
    }
    50% {
        box-shadow: 0px 0px 35px rgba(85, 40, 128, 0.4);
    }
    100% {
        box-shadow: 0px 0px 30px rgba(138, 43, 226, 0.4);
    }
}