body {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.what-we-do {
  background: linear-gradient(-45deg, #ffffff 90%, #0f1a42 5%);
  color: white;
  padding: 10rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
}

.what-we-do .content {
  max-width: 1200px;
  width: 100%;
}

.content-title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #212121;
}

.content-title .focus {
  background: linear-gradient(to right, #00e0ff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-title .word-highlighted {
  display: inline-block;
  border: 3px solid #a855f7;
  border-radius: 25px;
  padding: 4px 16px;
  margin-left: 10px;
  font-size: 2.3rem;
  font-weight: 800;
  color: white;
  background-color: #4b0082;
}


.description {
  font-size: 1.5rem;
  max-width: 700px;
  line-height: 1.7;
  color: #212121;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  font-size: 2.2rem;
  color: #212121;
  cursor: pointer;
  transition: color 0.18s;
  z-index: 2;
}
.close-modal:hover {
  color: var(--button-color);
}

@media (max-width: 480px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 1.5rem;
  }

  .content h2 {
    font-size: 3.7rem;
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 599px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 1.5rem;
  }

  .content-title {
    font-size: 3.7rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 1.5rem;
  }

  .content-title {
    font-size: 3.7rem;
  }

  .content {
    margin-top: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 4rem;
  }

  .content-title {
    font-size: 4.5rem;
  }

  .content {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 4rem;
  }

  .content-title {
    font-size: 5rem;
  }

  .content {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .what-we-do {
    background: linear-gradient(45deg, #ffffff 90%, #0f1a42 5%);
    padding: 2rem 4rem;
  }

  .content-title {
    font-size: 5rem;
  }

  .content {
    margin-top: 1.5rem;
    padding-left: 3rem;
    padding-top: 3rem;
  }
}
