<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RL Enterprise</title>
    <link rel="stylesheet" href="/css/headerandfirstcontent.css" />
    <link rel="stylesheet" href="/css/whychoseusandavaliations.css" />
    <link rel="stylesheet" href="/css/rlunica.css" />
    <link rel="stylesheet" href="/css/plans.css" />
    <link rel="stylesheet" href="/css/loginForm.css" />
    <link rel="stylesheet" href="/css/registerForm.css" />
    <link rel="stylesheet" href="/css/forgotpassword.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap" rel="stylesheet">  
  </head>
  <section id="id-for-loginForm" class="loginForm hidden">
    <div class="space-of-login-form">
      <div class="name-of-enterprise">
        <h1>RL</h1>
        <h2>Enterprise</h2>
      </div>
      <div id="formMessageLogin" class="form-message hidden"></div>
      <form class="organization-off-login-form">
        <div class="input-group">
          <div class="input-icon">
            <i class="fa-regular fa-envelope"></i>
            <input
              type="email"
              id="email-login"
              name="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>
        </div>

        <div class="input-group">
          <div class="input-icon">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password-login"
              name="password"
              placeholder="Digite sua senha"
              minlength="1"
              required
            />
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LcbK0UrAAAAACrxmdmVor3U5jmKnDeRAs0o6-11"></div>
        <button type="submit" id="button-for-get-login">Entrar</button>
      </form>
      <a href="" class="a-forgot-password">Esqueceu sua senha?</a>
      <p>
        Não tem uma conta?
        <a id="link-to-register" class="a-for-logincall">Registre-se</a>
      </p>
    </div>
  </section>
  
  <section id="id-for-registerForm" class="registerForm hidden">
    <div class="space-of-register-form">
      <div class="name-of-enterprise">
        <h1>RL</h1>
        <h2>Enterprise</h2>
        <div id="formMessage" class="form-message hidden"></div>
      </div>
      <form class="organization-off-register-form">
        <div class="input-group">
          <div class="input-icon">
            <i class="fa-regular fa-user"></i>
            <input
              type="text"
              id="name-register"
              name="name"
              placeholder="Digite seu nome completo"
              required
            />
          </div>
        </div>

        <div class="input-group">
          <div class="input-icon">
            <i class="fa-regular fa-envelope"></i>
            <input
              type="email"
              id="email-register"
              name="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>
        </div>

        <div class="input-group">
          <div class="input-icon">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password-register"
              name="password"
              placeholder="Digite sua senha"
              required
            />
          </div>
        </div>

        <div class="input-group">
          <div class="input-icon">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password-repeat"
              name="password-repeat"
              placeholder="Repita a senha"
              required
            />
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LcbK0UrAAAAACrxmdmVor3U5jmKnDeRAs0o6-11"></div>
        <button type="submit">Registrar</button>
      </form>
      <a href="" class="a-forgot-password">Esqueceu sua senha?</a>
      <p>
        Já tem uma conta?
        <a id="link-to-login" class="a-for-registercall">Entrar</a>
      </p>
    </div>
  </section>

  <section id="id-for-forgotPasswordForm" class="forgotPasswordForm hidden">
    <div class="space-of-forgot-password-form">
      <div class="name-of-enterprise">
        <h1>RL</h1>
        <h2>Enterprise</h2>
      </div>
      <div id="forgot-message" class="forgot-message"></div>
      <form id="forgot-password-form">
        <div class="input-group">
          <div class="input-icon">
            <i class="fa-regular fa-user"></i>
            <input type="email" id="forgot-email" name="email" required placeholder="E-mail para recuperação" />
          </div>
        </div>
        <button type="submit" class="send-reset-btn">Enviar código</button>
      </form>
      <a href="" class="back-to-login">Voltar ao login</a>
    </div>
  </section>

  
  <body>
    
    <header id="header" class="header">
      <div class="side-of-logo-and-site-name">
        <a href="" class="organization-of-logo-and-site-name">
          <img src="/images/logonobg.png" alt="Logo da empresa" />
        </a>
      </div>
      <nav class="getting-space-for-ul">
        <ul class="organization-of-lis">
          <li><a href="#get-home">Home</a></li>
          <li><a href="#what-we-do">Sobre</a></li>
          <li><a href="#planss">Planos</a></li>
          <li><a href="#footer">Contato</a></li>
          <li>
            <a href="" id="accountHover"
              >Conta
            </a>
          </li>
        </ul>
      </nav>
    </header>
    
    <div id="get-home" class="first-content-and-header">
      <section class="principal-message-and-representative-video">
        <main class="main-content-in-first-section">
          <h2 class="h2-desktop hero-title">
            APRENDA A<br />CRIAR VIDEOS<br />COM INTELIGÊNCIA<br />ARTIFICIAL
          </h2>
          <h2 class="h2-mobile hero title">
            APRENDA A CRIAR VIDEOS COM<br />INTELIGÊNCIA ARTIFICIAL
          </h2>
          <p>
            Domine a arte de gerar videos engajadores<br />usando inteligencia
            artificial<br />e receba dinheiro por isso
          </p>
          <a href="#planss" class="main-button">Aprender agora</a>
        </main>
        <div class="side-of-video">
          <figure class="box-of-video">
            <video></video>
          </figure>
        </div>
      </section>
    </div>

    <section class="why-chose-us-and-plans">
      <div class="container">
        <section class="info-section">
          <div class="marquee">
            /
            <p>
              O que torna a<br /><span class="highlight">RL Enterprise</span>
              única?
            </p>
          </div>

          <!-- Seção de Benefícios -->
          <div class="why-choose-us">
            <article class="benefit">
              <div class="img-benefit">
                <img src="images/crienobg.png" alt="Tecnologia Inovadora" />
              </div>
              <div class="benefit-content">
                <h3>
                  Crie Vídeos Profissionais com
                  <span class="highlight">IA de Última Geração</span>
                </h3>
                <p>
                  Descubra como utilizar as ferramentas mais avançadas de
                  Inteligência Artificial para criar vídeos profissionais com
                  agilidade e eficiência.
                </p>
              </div>
            </article>

            <article class="benefit">
              <div class="img-benefit">
                <img src="images/dominenobg.png" alt="Tutoriais Completos" />
              </div>
              <div class="benefit-content">
                <h3>
                  <span class="highlight"
                    >Domine a Criação de Vídeos com IA</span
                  >
                  em Poucos Dias
                </h3>
                <p>
                  Aprenda, passo a passo,<br />a dominar as principais técnicas
                  de criação de<br />vídeos com IA e acelerar seu crescimento
                  nas redes sociais.
                </p>
              </div>
            </article>

            <article class="benefit">
              <div class="img-benefit">
                <img
                  src="images/multipliquenobg.png"
                  alt="Estratégias de Marketing"
                />
              </div>
              <div class="benefit-content">
                <h3>
                  <span class="highlight">Multiplique Suas Visualizações</span>
                  com Estratégias Inteligentes
                </h3>
                <p>
                  Implemente estratégias comprovadas para aumentar seu alcance,
                  engajar audiências e transformar visualizações em resultados
                  concretos.
                </p>
              </div>
            </article>

            <article class="benefit">
              <div class="img-benefit">
                <img src="images/transformenobg.png" alt="Ganhe com isso" />
              </div>
              <div class="benefit-content">
                <h3>
                  <span class="highlight">Transforme seu Conhecimento</span> em
                  Renda com Nosso
                  <span class="highlight">Programa de Afiliados</span>
                </h3>
                <p>
                  Participe do nosso programa de afiliados e tenha a
                  oportunidade de gerar renda recorrente, promovendo soluções
                  inovadoras que realmente entregam valor.
                </p>
              </div>
            </article>
          </div>
        </section>
      </div>
    </section>

    <section id="what-we-do" class="what-we-do">
      <div class="content">
        <h2 class="content-title">
          Afinal, <br />
          o que fazemos na<span class="content-focus"> RL ENTERPRISE</span>
          <span class="word-highlighted">?</span>
        </h2>
        <p class="description">
          Na RL Enterprise, capacitamos pessoas a criarem vídeos impactantes com
          Inteligência Artificial, dominando as ferramentas mais avançadas para
          se destacarem nas redes sociais. <br /><br />
          Além disso, oferecemos a oportunidade de rentabilizar esse
          conhecimento revendendo o curso diretamente pela nossa plataforma.
        </p>
      </div>
    </section>

    <section id="planss" class="plans-section">
      <div class="container">
        <section class="info-section">
          <div class="learn-with-us">
            <p>
              Junte-se a nós<br /><span class="highlight"
                >veja nossos planos</span
              >
            </p>
          </div>
          <div class="plans-container">
            <div class="plan-card">
              <h3>Pacote Inicial</h3>
              <p class="plan-price">R$29</p>
              <ul>
                <li>10 vídeos prontos</li>
                <li>Escolha de estilo e tema</li>
                <li>Entrega personalizada</li>
              </ul>
              <button id="0">Começar</button>
            </div>
            <div class="plan-card">
              <h3>Plano Básico</h3>
              <p class="plan-price">R$47/mês</p>
              <ul>
                <li>Curso completo</li>
                <li>Curso de vendas</li>
                <li>70% de comissão</li>
              </ul>
              <button id="1">Assinar</button>
            </div>
            <div class="plan-card">
              <h3>Plano Pro</h3>
              <p class="plan-price">R$97/mês</p>
              <ul>
                <li>Inclui Básico</li>
                <li>Curso de estratégia</li>
                <li>80% de comissão</li>
              </ul>
              <button id="2">Assinar</button>
            </div>
            <div class="plan-card">
              <h3>Plano Master</h3>
              <p class="plan-price">R$197/mês</p>
              <ul>
                <li>Consultoria mensal</li>
                <li>Comissão de 100%</li>
                <li>Acesso antecipado</li>
              </ul>
              <button id="3">Assinar</button>
            </div>
          </div>
        </section>
      </div>
    </section>

    <footer class="footer" id="footer">
      <div class="container-for-informations">
        <section class="job-with-us">
          <div class="logo-representative-in-footer">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="40" height="40"
                viewBox="0 0 24 24"
                fill="none" stroke="#6366f1"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"/>
              <circle cx="12" cy="10" r="3"/>
              <path d="M6.5 18a6.5 6.5 0 0 1 11 0"/>
            </svg>
          </div>
          <div class="organization-in-footer">
            <h3>Venha Trabalhar Conosco</h3>
            <p>Somos uma equipe enxuta, autofinanciada e distribuída, e estamos em constante busca de novos talentos para integrar nossa missão. Se você acredita que pode contribuir com seu conhecimento e expertise para levar nosso trabalho a um novo patamar, você está no lugar certo.</p>
            <p>Envie-nos um e-mail com informações sobre sua trajetória profissional e como você pode agregar valor à nossa equipe.</p>
            <p>Aguardamos seu contato. Atenciosamente, <strong>RL Enterprise</strong></p>
          </div>
        </section>
        <section class="need-support">
          <div class="logo-representative-in-footer">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="40" height="40"
                viewBox="0 0 24 24"
                fill="none" stroke="#f97316"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="5" width="18" height="14" rx="2" ry="2"/>
              <polyline points="3 7 12 13 21 7"/>
            </svg>
          </div>
          <div class="organization-in-footer">
            <h3>Fale Conosco</h3>
            <p>Se você tem dúvidas sobre nossos produtos ou precisa de suporte técnico, junte-se ao nosso Discord e participe das discussões em nossas salas dedicadas ao suporte, com a hashtag <strong>#support</strong>.</p>
            <p>Se preferir, também pode entrar em contato conosco por e-mail.</p>
            <p>rlenterprise@hotmail.com</p>
          </div>
        </section>
      </div>
    </footer>

    <script src="/js/registerandlogin/jsforregister.js" defer></script>
    <script src="/js/registerandlogin/jsforlogin.js" defer></script>
    <script src="/js/BuyPlan/tosignplan.js" defer></script>
    <script src="/js/AuthForm/auth-form.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>
