<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionando...</title>
    <link rel="stylesheet" href="/css/redirecting.css" />
</head>
<body>
     <div class="container">
    <div class="checkmark">&#10004;</div>
    <div class="message-and-dots"></div>
    <p class="message" id="message">Obrigado pela sua compra!</p>
    <div class="progress-bar">
      <div class="progress" id="progress"></div>
    </div>
  </div>

  <script src="/js/Redirecting/redirectingeffects.js"></script>
</body>
</html>